[bp-style=aclaracion]
    font-style italic
    color #444
[bp-style=cmd]
    font-family consolas, monospace
    color black
    background-color #f0f0f0
    padding: 0.2em
[bp-style=parametro-nombre]
    padding-right 0.66em
[bp-style=parametro-nombre]::before
    content "⌨ "
[bp-variable]
    color blue
[bp-variable][bp-es=parametro]
    color blueviolet
    font-weight bold
