[bp-style=aclaracion]
    font-style italic
    color #444
[bp-style=cmd]
    font-family consolas, monospace
    color black
    background-color #f0f0f0
    padding: 2px
[bp-variable]
    color blueviolet
