h1 Operaciones BP
  lu
    li 
      a(href="./mantenimiento-aplicaciones.html") mantenimiento de aplicaciones instaladas.
    li
      a(href="./comandos-locales.html") comandos durante el desarrollo.